<% @title="Frequently Asked Questions" %>
<% @bodyclass="faq" %>

<div class="container">

 	<div>
	 	<h1>Frequently Asked Questions</h1>
 	</div>

	<div class="row">
		<div class="panel-group" id="accordion">
			<%= faq(
				"How much does a website cost?",
				"<p>For most of my clients, a website redesign costs $7,500 &#8211; $15,000. Some factors include:</p>
				<ul>
					<li>Amount of content (words, pictures, videos, etc.)</li>
					<li>Complexity of content</li>
					<li>Platform</li>
					<li>Functional needs (do you need a directory with filters? a forum? a store? just a few simple pages?)</li>
					<li>Design needs</li>
					<li>Technical comfort</li>
					<li>Revisions/changes</li>
				</ul>
				<p>We’ll start with a detailed conversation about your organization’s mission, your website’s goals, and how your current site is doing. From there, I’ll put together a proposal tailored to your priorities.</p>
				<p>I usually price projects by the hour, rather than a package price. This way neither one of us gets shortchanged. Don’t worry; we’ll specify a range of hours up front, and I promise not to surprise you by going over budget. You’ll be involved every step of the way.</p>"
			)	%>

			<%= faq(
				"How long does a website take?",
				"<p>To design and develop an entire website with me, budget <strong>3 to 12 months</strong>.</p>
				<p>Developing the website is the easy part. I often spend 3-6 months working with clients on strategy and content development before we even get to the code.</p>
				<p>If you have a tight time frame, here’s how you can speed things up:</p>
				<ul>
					<li>Block out at least 5-10 hours per week to work on your website</li>
					<li>Fill out this stakeholder spreadsheet before we begin &#8211; include all key decision-makers and at least 10 usability testers</li>
					<li>Talk with key decision-makers early to give them a heads up; ask them to commit to 2 hours per month</li>
					<li>Make sure Google Analytics is installed properly on your current site, so we have data to analyze right away</li>
					<li>Consider cutting content or features to simplify the site</li>
					<li>Create or update your organization’s written style guide</li>
				</ul>"
			) %>

			<%= faq(
				"What platform do you develop on?",
				"<p>Partnering with trusted developers, I can build on most modern platforms. If you have one in mind, let me know up front. Otherwise, I can help you choose a tool that works for your needs and budget.</p>
				<p>Some of my favorite platforms include:</p>
				<ul>
					<li>WordPress: extremely flexible and inexpensive</li>
					<li>SquareSpace: quick to set up, easy for inexperienced users, flat-rate pricing includes support</li>
					<li>Ruby on Rails: great for custom applications and website light on content (like this one)</li>
				</ul>"
			) %>

			<%= faq(
				"Do you maintain and support the site once it's launched?",
				"<p><strong>I do not provide managed care services.</strong> One of my core values is empowering people to take control of their technology. Every website I build is designed for the client to manage in-house. No more wondering when your consultant will make those changes for you, or whether they renewed your hosting!</p>
				<p>That doesn’t mean I just hand you the keys and run away. You’ll be making decisions and working with the actual website before it&#8217;s live. I&#8217;ll do personalized training with you until you feel comfortable. I&#8217;ll make an emergency kit together, so you know where to look and who to call when you run into trouble. I provide useful documentation, so another qualified developer can step in and pick things up right away. And if you need a little refresher later on, I offer hourly coaching services to previous clients.</p>
				<p>If you would prefer a managed care experience, no hard feelings. But if you want control and flexibility, this approach works great.</p>"
			) %>

			<%= faq(
				"Where are you based?",
				"<p>I'm based in Lansing, Michigan, but I work with clients all over the US. There are great tools to help us stay in touch, even if we&#8217;re never in the same room.</p>
				<p>Not in Lansing? Here are some things that will help:</p>
				<ul>
					<li>A good Internet connection</li>
					<li>A webcam</li>
					<li>A headset with a microphone for each person on the project</li>
					<li>Familiarity with video calls (I like appear.in but can use Skype, Google Hangouts, or even FaceTime &#8211; whatever you&#8217;re comfortable with)</li>
					<li>Enthusiasm</li>
				</ul>"
			) %>

			<%= faq(
				"What if my business is not a nonprofit?",
				"<p>I focus on nonprofits because that’s where most of my experience is. But I've worked with other types of client before and I&#8217;d do it again.</p>
				<p>If you like the sound of my approach, contact me. Doesn’t matter who you are. Maybe we’re a perfect fit!</p>"
			) %>

			<%= faq(
				"How do I get started?",
				"<p><a href='mailto:katie@katiemfritz.com'>Send me an email!</a> I’ll schedule a phone call or video chat to learn more about your organization.</p>"
			) %>
		</div>
	</div>

</div>
